@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Merriweather:wght@300;400;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
}
/* All reusable classes */
.container {
    width: 82.5%;
    max-width: 1600px;
    margin: auto;
}
.btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    border: none;
}

/* Header section */
#banner-container {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: center, bottom;
    background-size: cover, cover;
    min-width: 632px;
    margin-top: 50px;
    border-radius: 16px;
}
.banner {
    width: 47.8%;
    padding: 177px 0;
    margin: 0 auto;
    text-align: center;
    font-family: Merriweather;  
}
.banner h4 {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.banner h1 {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
}

/* Discount section here */
.discount {
    width: 60%;
    margin: 120px auto;
    font-family: Inter;
    text-align: center;    
}
.discount h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.discount p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.discount h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
.discount-img img {
    width: 100%;
}

/* Welcome party section here */
#welcome-party {
    margin-bottom: 120px;
}
.welcome-party-container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center, bottom;
    background-size: cover, cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    border-radius: 16px;
    padding: 68px 138px 68px 126px;
    font-family: Merriweather;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.welcome-party-container .column h2 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}
.welcome-party-container .column p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 48px;
}