@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Merriweather:wght@300;400;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
}
/* All reusable classes */
section {
    margin: 120px auto;
}
.container {
    width: 82.5%;
    max-width: 1600px;
    margin: auto;
}
.btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
}
.important {
    color: #F00;
}

/* Header section's styles */
#banner-container {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: center, bottom;
    background-size: cover, cover;
    min-width: 632px;
    margin-top: 50px;
    border-radius: 16px;
}
.banner {
    width: 47.8%;
    padding: 177px 0;
    margin: 0 auto;
    text-align: center;
    font-family: Merriweather;  
}
.banner h4 {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.banner h1 {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
}

/* Discount section's styles*/
.discount {
    width: 60%;
    margin: 120px auto;
    font-family: Inter;
    text-align: center;    
}
.discount h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.discount p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.discount h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
.discount-img img {
    width: 100%;
}

/* Welcome party section's styles */
.welcome-party-container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center, bottom;
    background-size: cover, cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    border-radius: 16px;
    padding: 68px 138px 68px 126px;
    font-family: Merriweather;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.welcome-party-container .column h2 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}
.welcome-party-container .column p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 48px;
}

/* Event place and time section's styles'*/
.event-container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 0 110px;
    border-radius: 16px;
    text-align: center;
    font-family: Inter;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.event-container h4 {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin-bottom: 48px;
}

/* Coming soon section's styles */
.coming-soon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
.coming-soon-container .column-1 h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.coming-soon-container .column-1 h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.coming-soon-container .column-1 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
}
.coming-soon-container .img-container {
    padding: 30px;
    border: 15px solid #F00;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 360px;
}
.img-container img {
    width: 100%;
}
.coming-soon-container .column-3 h3 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
.coming-soon-container .column-3 {
    width: 393px;
}
.coming-soon-container .column-3 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 43px;
}

/* Holiday section's styles here */
.holiday-column-1 {
    text-align: center;
    margin-bottom: 64px;
}
.holiday-column-1 h4 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.holiday-column-1 h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}
.holiday-column-1 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    width: 90%;
    margin: auto;
}
.holiday-column-2 {
    display: flex;
    justify-content: right;
    margin-bottom: 0px;
    position: relative;
}
.holiday-column-2 img {
    width: 100%;
}
.holiday-column-2 .img-1{
    position: absolute;
    left: 30px;
    top: 55px;
    width: 700px;
}
.holiday-column-2 .img-2 {
    position: absolute;
    right: 270px;
    top: 75px;
}
.holiday-column-2 .img-3 {
    width: 429px;
}
.holiday-column-3 img {
    width: 100%;
    margin-top: -4px;
}

/* Portfolio section's styles */
.portfolio-row-1 h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.portfolio-row-1 h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.portfolio-row-1 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
    width: 70%;
}
.portfolio-row-2 {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    gap: 20px;
}
.portfolio-row-2 .portfolio-img {
    width: 31.5%;
}
.portfolio-row-2 .portfolio-img img {
    width: 100%;
}

/* Subscribe section's styles */
.subscribe {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 80px 0;
}
.subscribe img {
    margin-bottom: 40px;
}
.subscribe h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.subscribe p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin: auto;
    margin-bottom: 48px;
}
.subscribe form {
    width: 648px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.subscribe form input {
    width: 58%;
    padding: 25px 30px;
    border: none;
    outline: none;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    -ms-border-radius: 50px 0 0 50px;
    -o-border-radius: 50px 0 0 50px;
}
.subscribe form .subscribe-btn {
    border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    -ms-border-radius: 0 50px 50px 0;
    -o-border-radius: 0 50px 50px 0;
}

/* Footer section's style */
footer {
    background: #070211;
}
.footer-container {
    padding: 120px 0;
}
.footer-container hr {
    background-color: #ffffff26;
    height: 1px;
    border: none;
    margin: 50px 0;
}
.footer-row-1 img {
    margin-right: 16px;
}
.footer-row-1, .footer-row-3 {
    display: flex;
    justify-content: space-between;
}
.footer-row-1 p, .footer-row-3 p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.footer-row-2 {
    text-align: center;
}
.footer-row-2 img {
    margin: 12px;
}